* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(45deg, #FCCF41, #F55555);
}

.fundo {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(24, 24, 24, 0.8);
    padding: 20px;
    box-shadow: 2px 2px 4px;
}

.fundo:hover {
    background-color: rgba(24, 24, 24, 0.9);
}

img {
    width: 300px;
    height: 300px;
}

h1{
    color: rgb(201, 201, 201);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.cont-player {
    width: 300px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-music {
    text-align: left;
    color: white;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.tempo-music {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inicio {
    color: #fff;
    text-align: right;
}

.fim {
    color: #fff;
    text-align: left;
}

.duracao {
    width: 300px;
}

.barra {
    width: 300px;
    height: 6px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

progress {
    height: 6px;
    width: 0;
    background-color: rgb(136, 255, 0);
}

.ponto {
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: -10px;
}

.botao-play, .botao-pause {
    font-size: 50px;
    cursor: pointer;
}

.setas {
    font-size: 30px;
    cursor: pointer;
}


